﻿@{
    var TenDangNhap = Context.Request.Cookies["auth"];
    var makh = Context.Request.Cookies["makh"];
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Css Styles -->
    <link href="~/Resources/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Resources/js/bootstrap.bundle.js" rel="stylesheet" />
    <link rel="stylesheet" href="~/Resources/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/Resources/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/Resources/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/Resources/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/Resources/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="~/Resources/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/Resources/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets/css/templatemo.css">
    <link rel="stylesheet" href="assets/css/custom.css">
</head>
<body>
    <div>
        <!-- Humberger Begin -->
        <div class="humberger__menu__overlay"></div>
        <div class="humberger__menu__wrapper">
            <div class="humberger__menu__logo">
                <a href="#"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="humberger__menu__cart">
                <ul>
                    <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                    <li><a href="#"><i class="fa fa-shopping-bag"></i> <span>3</span></a></li>
                </ul>
                <div class="header__cart__price">item: <span>$150.00</span></div>
            </div>
            <div class="humberger__menu__widget">
                <div class="header__top__right__language">
                    <img src="img/language.png" alt="">
                    <div>English</div>
                    <span class="arrow_carrot-down"></span>
                    <ul>
                        <li><a href="#">Spanis</a></li>
                        <li><a href="#">English</a></li>
                    </ul>
                </div>
                <div class="header__top__right__auth">
                    <a href="#"><i class="fa fa-user"></i> Login</a>
                </div>
            </div>
            <nav class="humberger__menu__nav mobile-menu">
                <ul>
                    <li class="active"><a href="./index.html">Home</a></li>
                    <li><a href="./shop-grid.html">Shop</a></li>
                    <li>
                        <a href="#">Pages</a>
                        <ul class="header__menu__dropdown">
                            <li><a href="./shop-details.html">Shop Details</a></li>
                            <li><a href="./shoping-cart.html">Shoping Cart</a></li>
                            <li><a href="./checkout.html">Check Out</a></li>
                            <li><a href="./blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </nav>
            <div id="mobile-menu-wrap"></div>
            <div class="header__top__right__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
            </div>
            <div class="humberger__menu__contact">
                <ul>
                    <li><i class="fa fa-envelope"></i> hello@colorlib.com</li>
                    <li>Free Shipping for all Order of $99</li>
                </ul>
            </div>
        </div>
        <!-- Humberger End -->
        <!-- Header Section Begin -->
        <header class="header">
            <div class="header__top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-md-8">
                            <div class="header__top__left">
                                <ul>
                                    <li><i class="fa fa-envelope"></i> thietbigiaoduc.dacn@gmail.com</li>
                                    <li>Miễn phí giao hàng cho tất cả đơn hàng từ 1.000.000<sup>đ</sup></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="header__top__right">
                                @if (TenDangNhap == null)
                                {
                                    <div class="header__top__right__social">
                                        <a href="~/KhachHang/DangKi"><i class="fa fas fa-user-plus"></i> Đăng kí</a>
                                    </div>
                                    <div class="header__top__right__auth">
                                        <a href="~/KhachHang/DangNhap"><i class="fa fa-user"></i> Đăng nhập</a>
                                    </div>
                                }
                                else
                                {
                                    <div class="header__top__right__auth">
                                        <div class="dropdown">
                                            <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                                @TenDangNhap.Value
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <li><a class="dropdown-item" href="/GioHang/LichSuMuaHang?makh=@makh.Value">Lịch sử mua hàng</a></li>
                                                <li><a class="dropdown-item" href="/Khachhang/Sua?makh=@makh.Value">Cập nhật thông tin cá nhân</a></li>
                                                <li><a class="dropdown-item" href="/Khachhang/DoiMatKhau?makh=@makh.Value">Đổi mật khẩu</a></li>
                                                <li><hr class="dropdown-divider"></li>
                                                <li><a class="dropdown-item" href="/KhachHang/DangXuat">Đăng xuất</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="header__logo">
                            <a href="./index.html"><img src="img/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <nav class="header__menu">
                            <ul>
                                <li class="active"><a href="/home/index">Trang Chủ</a></li>
                                <li>
                                    <a href="/SanPham/TatCa">Sản Phẩm</a>
                                    <ul class="header__menu__dropdown">
                                        <li><a href="/SanPham/SanPhamTheoLoai?maLoai=L7">Bàn ghế học sinh</a></li>
                                        <li><a href="/SanPham/SanPhamTheoLoai?maLoai=L8">Bàn ghế giáo viên</a></li>
                                        <li><a href="/SanPham/SanPhamTheoLoai?maLoai=L3">Ghế thí nghiệm</a></li>
                                        <li><a href="/SanPham/TatCa">Tất cả</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Giới Thiệu</a></li>

                                <li><a href="#">Liên Hệ</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-lg-3">
                        <div class="header__cart">
                            <ul>
                                <li><a href="/GioHang/Index"><i class="fa fa-shopping-bag"></i><span id="tong-sl"></span></a></li>
                            </ul>
                            <div class="header__cart__price">Tổng tiền: <span id="tong-tien"><sup>đ</sup></span></div>
                        </div>
                        <script src="~/Resources/js/jquery-3.3.1.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                // Gọi AJAX tới phương thức GetGioHangData
                                $.ajax({
                                    url: '/GioHang/GetGioHangData',
                                    type: 'GET',
                                    dataType: 'json', // Dữ liệu trả về là JSON
                                    success: function (data) {
                                        // Cập nhật dữ liệu vào HTML
                                        $('#tong-sl').text(data.TongSL);
                                        $('#tong-tien').text(data.TongTien.toLocaleString('vi-VN') + "đ");
                                    },
                                    error: function () {
                                        alert('Có lỗi xảy ra khi lấy dữ liệu giỏ hàng.');
                                    }
                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="humberger__open">
                    <i class="fa fa-bars"></i>
                </div>
            </div>
        </header>


        @RenderBody()
        <!--Footer-->
        <footer class="footer spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-6">
                        <div class="footer__about">
                            <div class="footer__about__logo">
                                <h3>THIẾT BỊ GIÁO DỤC A&B</h3>
                            </div>
                            <ul>
                                <li>Địa chỉ: 140 Lê Trọng Tấn, Tân Phú, Tp. Hồ Chí Minh</li>
                                <li>Điện thoại: +84 0327845877</li>
                                <li>Email: thietbigiaoduc.dacn@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="footer__widget">
                            <h6>Về chúng tôi</h6>
                            <ul>
                                <li><a href="#">Giới thiệu</a></li>
                                <li><a href="#">Chính sách mua hàng</a></li>
                                <li><a href="#">Chính sách đổi trả</a></li>
                                <li><a href="#">Chính sách thanh toán</a></li>
                                <li><a href="#">Thông tin liên hệ</a></li>
                                <li><a href="#">Google map</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-12">
                        <div class="footer__widget">
                            <h6>Góp ý từ khách hàng</h6>
                            <p>Vui lòng liên hệ qua email để chúng tôi mang đến trải nghiệm tuyệt vời hơn!</p>
                            <form action="#">
                                <input type="text" placeholder="Nhập email của bạn">
                                <button type="submit" class="site-btn">Gửi</button>
                            </form>
                            <div class="footer__widget__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer__copyright">
                            <div class="footer__copyright__text">
                                <p>
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright &copy;
                                    <script>document.write(new Date().getFullYear());</script>, Thiết Bị Giáo Dục <i class="fa fa-heart" aria-hidden="true"></i> by Trần Văn Đảo | Chiêm Hồng Hưng | Nguyễn Thanh Tiến
                                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Js Plugins -->
    <script src="~/Resources/js/jquery-3.3.1.min.js"></script>
    <script src="~/Resources/js/bootstrap.bundle.min.js"></script>
    <script src="~/Resources/js/jquery.nice-select.min.js"></script>
    <script src="~/Resources/js/jquery-ui.min.js"></script>
    <script src="~/Resources/js/jquery.slicknav.js"></script>
    <script src="~/Resources/js/mixitup.min.js"></script>
    <script src="~/Resources/js/main.js"></script>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>